.image-carousel {
    display: flex;
    column-gap: 12px;
    padding: 28px 0;
    margin: 0;
    overflow-x: scroll;
    list-style: none;
}

.image-carousel::-webkit-scrollbar  {
    display: none;
}

.image-carousel li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 164px;
    max-width: 164px;
    max-height: 149px;
    background-color: darkolivegreen;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}

.image-carousel picture {
    max-height: 100%;
    max-width: 100%;
}

.image-carousel img {
    object-fit: cover;
    margin-left: -4px;
}