.hotels {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    grid-area: 1/2/3/3;
    width: calc(100% - 64px);
    padding: 48px 32px;
}

.hotels__title {
    display: flex;
    justify-content: space-between;
}

.hotels__breadcrumbs {
    max-width: 80%;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.hotels__breadcrumbs li {
    font-size: 2rem;
    line-height: 1.19em;
    font-weight: 500;
    list-style: none;
    display: block;
    position: relative;
}

.hotels__breadcrumbs li:not(:last-child) {
    margin-right: 50px;
}

.hotels__breadcrumbs li:not(:last-child)::before,
.hotels__breadcrumbs li:not(:last-child)::after {
    content: '';
    display: block;
    width: 14px;
    height: 2px;
    background-color: #A7A7A7;
    border-radius: 1px;
    position: absolute;
    right: -32px;
}

.hotels__breadcrumbs li:not(:last-child)::before {
    transform: rotate(45deg);
    top: calc(50% - 5px);
}

.hotels__breadcrumbs li:not(:last-child)::after {
    transform: rotate(-45deg);
    bottom: calc(50% - 6px);
}

.hotels__date {
    color: #41522E;
    font-size: 1.5rem;
    line-height: 1.17em;
    margin-top: 4px;
}

@media (max-width: 1072px) {
    .hotels {
        grid-area: auto;
    }

    .hotels__breadcrumbs {
        flex-wrap: wrap;
    }

    .hotels__breadcrumbs li {
        font-size: 1.5rem;
        line-height: 1.19em;
    }

    .hotels__date {
        width: max-content;
        word-break: keep-all;
    }
}

@media (max-width: 767px) {
    .hotels__breadcrumbs li,
    .hotels__date {
        font-size: 4vw;
    }

    .hotels__breadcrumbs li:not(:last-child)::before,
    .hotels__breadcrumbs li:not(:last-child)::after {
        width: 1.8vw;
        height: 0.3vw;
        right: -4.2vw;
    }

    .hotels__breadcrumbs li:not(:last-child) {
        margin-right: 6.5vw;
    }

    .hotels__breadcrumbs li:not(:last-child)::before {
        top: calc(50% - 0.6vw);
    }

    .hotels__breadcrumbs li:not(:last-child)::after {
        bottom: calc(50% - 0.8vw);
    }
}
